Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.json,.jsx,.mjs --fix, prettier --write

Fix label text overflow
  src/routes/Combat/Counter/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Packages upgrade
  cordova/package-lock.json
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Webpack 5
  package-lock.json
  package.json
  src/components/App/index.jsx
  src/i18n.js
  src/routes/Home/index.jsx
  src/routes/Player/index.jsx
  src/web.jsx
  webpack.config.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Move REMOVE_PLAYERS action to players reducer
  src/dev/index.js
  src/ducks/combat/index.js
  src/ducks/combat/index.spec.js
  src/ducks/playerList/actionTypes.js
  src/ducks/playerList/index.js
  src/ducks/players/actionTypes.js
  src/ducks/players/index.js
  src/routes/Home/AppBar/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Packages upgrade
  .eslintrc
  babel.config.js
  cordova/package-lock.json
  cordova/package.json
  jest.config.js
  package-lock.json
  package.json
  src/components/PlayerDialog/index.jsx
  src/components/TopAppBar/index.jsx
  webpack.config.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Sort ru locale keys
  languages/ru.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Undo player remove
  languages/cs.json
  languages/el.json
  languages/en.json
  languages/es.json
  languages/fi.json
  languages/he.json
  languages/hu.json
  languages/nb.json
  languages/nl.json
  languages/pl.json
  languages/pt-BR.json
  languages/pt.json
  languages/ru.json
  languages/tr.json
  languages/uk.json
  scripts/i18n/download.mjs
  src/routes/Home/AppBar/index.jsx
  src/routes/Home/PlayerList/index.jsx
  src/routes/Home/index.jsx
  src/store/configureStore.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Packages upgrade
  cordova/package-lock.json
  cordova/package.json
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Packages upgrade
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Remove webpack-notifier
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Hide back button on windows
  src/components/CordovaProvider/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Config clean up
  cordova/config.xml
  src/cordova.html
  src/global.css
Due: prettier --write

<CordovaRouter /> and memory history
  src/components/CordovaProvider/index.jsx
  src/components/CordovaRouter/history.js
  src/components/CordovaRouter/index.jsx
  src/cordova.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Update content policy
  src/cordova.html
Due: prettier --write

Update some locales
  languages/cs.json
  languages/da.json
  languages/de.json
  languages/es.json
  languages/fr.json
  languages/it.json
  languages/pl.json
  languages/uk.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Cordova version upgrade
  cordova/config.xml
Due: none

12.5.0
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Auto hide undo notification
  src/components/UndoSnackbar/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

12.5.1
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Workbox update
  package-lock.json
  package.json
  src/components/WorkboxProvider/index.jsx
  webpack.config.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix

12.5.2
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Content-Security-Policy for windows
  src/cordova.html
Due: prettier --write

Windows icons
  cordova/config.xml
  cordova/res/windows/Square150x150Logo.scale-125.png
  cordova/res/windows/Square150x150Logo.scale-150.png
  cordova/res/windows/Square150x150Logo.scale-200.png
  cordova/res/windows/Square150x150Logo.scale-400.png
  cordova/res/windows/Square30x30Logo.png
  cordova/res/windows/Square310x310Logo.scale-125.png
  cordova/res/windows/Square310x310Logo.scale-150.png
  cordova/res/windows/Square310x310Logo.scale-200.png
  cordova/res/windows/Square310x310Logo.scale-400.png
  cordova/res/windows/Square44x44Logo.altform-unplated_targetsize-16.png
  cordova/res/windows/Square44x44Logo.altform-unplated_targetsize-24.png
  cordova/res/windows/Square44x44Logo.altform-unplated_targetsize-256.png
  cordova/res/windows/Square44x44Logo.altform-unplated_targetsize-32.png
  cordova/res/windows/Square44x44Logo.altform-unplated_targetsize-48.png
  cordova/res/windows/Square44x44Logo.png
  cordova/res/windows/Square44x44Logo.scale-125.png
  cordova/res/windows/Square44x44Logo.scale-150.png
  cordova/res/windows/Square44x44Logo.scale-200.png
  cordova/res/windows/Square44x44Logo.scale-400.png
  cordova/res/windows/Square71x71Logo.scale-125.png
  cordova/res/windows/Square71x71Logo.scale-150.png
  cordova/res/windows/Square71x71Logo.scale-200.png
  cordova/res/windows/Square71x71Logo.scale-400.png
  cordova/res/windows/StoreLogo.scale-125.png
  cordova/res/windows/StoreLogo.scale-150.png
  cordova/res/windows/StoreLogo.scale-200.png
  cordova/res/windows/StoreLogo.scale-400.png
  cordova/res/windows/Wide310x150Logo.scale-125.png
  cordova/res/windows/Wide310x150Logo.scale-150.png
  cordova/res/windows/Wide310x150Logo.scale-200.png
  cordova/res/windows/Wide310x150Logo.scale-400.png
  cordova/res/windows/storelogo.png
Due: none

Fix filenames
  cordova/res/windows/SplashScreen.png
  cordova/res/windows/SplashScreen.scale-125.png
  cordova/res/windows/SplashScreen.scale-150.png
  cordova/res/windows/SplashScreen.scale-200.png
  cordova/res/windows/SplashScreen.scale-400.png
  cordova/res/windows/StoreLogo.png
Due: none

Packages upgrade
  .nvmrc
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Set default noSsr true
  src/components/PlayerDialog/index.jsx
  src/components/ScreenModal/index.jsx
  src/components/SystemPaletteModeProvider/index.jsx
  src/components/UndoSnackbar/index.jsx
  src/components/menu/Drawer/index.jsx
  src/routes/Combat/MonsterSlider/index.jsx
  src/routes/Combat/PlayerSlider/index.jsx
  src/routes/Home/AppBar/MenuButton/index.jsx
  src/theme/getThemeOptions.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Update Italian locale
  languages/da.json
  languages/it.json
  languages/ru.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Update webpack deps
  .browserslistrc
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix

No need in babel-plugin-transform-imports
  babel.config.js
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Add rel="noopener noreferrer" to external links
  src/components/menu/List/PrivacyItem/index.jsx
  src/components/menu/List/TranslateItem/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Update Portuguese locale
  languages/pt-BR.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Packages upgrade
  cordova/package-lock.json
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix

12.5.3
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Update windows config
  cordova/config.xml
Due: none

Hide share for windows app
  src/components/menu/List/ShareItem/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Path conditions:
  eslint --ext .js,.json,.jsx,.mjs --fix: any of: **/*.{js,json,jsx,mjs}
  prettier --write: any of: **/*.{html,md,yml}
