Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.json,.jsx,.mjs --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs}": [
    "eslint --ext .js,.json,.jsx,.mjs --fix",
    "git add"
  ],
  "**/*.{html,md,yml}": [
    "prettier --write",
    "git add"
  ]
}

Introduce <CordovaProvider />
  src/components/CordovaProvider/index.js
  src/cordova.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

type undefined by default (fixes MUNCHKIN-CORDOVA-A8)
  src/components/SystemPaletteTypeProvider/index.jsx
  src/styles/baseTheme.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Cordova version update
  cordova/config.xml
  cordova/package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

12.2.1
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Simplify providers structure
  src/components/AugmentedStylesProvider/index.jsx
  src/components/AugmentedThemeProvider/index.jsx
  src/components/CordovaProvider/index.jsx
  src/components/SentryHelper/index.jsx
  src/components/SentryNavigationBreadcrumbs/index.js
  src/cordova.jsx
  src/pwa.jsx
  src/sentry.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Packages upgrade
  cordova/package-lock.json
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Add missed ios icons
  cordova/config.xml
  cordova/res/ios/icon-114.png
  cordova/res/ios/icon-144.png
  cordova/res/ios/icon-172.png
  cordova/res/ios/icon-196.png
  cordova/res/ios/icon-20.png
  cordova/res/ios/icon-48.png
  cordova/res/ios/icon-55.png
  cordova/res/ios/icon-57.png
  cordova/res/ios/icon-72.png
  cordova/res/ios/icon-88.png
Due: none

Fix iPad screenshots
  scripts/screenshots.mjs
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Cordova version update
  cordova/config.xml
Due: none

12.2.2
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

No empty screen before splash on start
  cordova/config.xml
  cordova/res/android/values/styles.xml
Due: none

Android dark mode splash screens
  cordova/config.xml
  cordova/res/android/splash-land-night-xhdpi.png
  cordova/res/android/splash-port-night-xhdpi.png
Due: none

Remove unneeded cordova check condition
  src/components/FullVersionProvider/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Packages upgrade
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Hide splashscreen after app ready
  src/components/App/index.jsx
  src/components/CordovaProvider/index.jsx
  src/cordova.jsx
  src/pwa.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Add CORDOVA & PWS env
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Destruct process.env
  webpack.config.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Use inline source maps for cordova
  .travis.yml
  package-lock.json
  package.json
  src/sentry.js
  webpack.config.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix, prettier --write

pwa -> web
  src/dev/index.js
  src/web.html
  src/web.jsx
  webpack.config.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix, prettier --write

New single sentry project for web & cordova
  .travis.yml
  src/components/CordovaProvider/index.jsx
  src/sentry.js
  src/web.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix, prettier --write

12.2.3
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Convert <SentryNavigationBreadcrumbs /> to useNavigationBreadcrumbs hook
  src/components/CordovaProvider/index.jsx
  src/components/CordovaProvider/useNavigationBreadcrumbs.js
  src/components/SentryNavigationBreadcrumbs/index.js
  src/cordova.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Use destruct for Sentry import
  src/components/CordovaProvider/useNavigationBreadcrumbs.js
  src/sentry.js
  src/store/configureStore.js
  src/store/middlewares/logger.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Remove custom action logger, it's included in @sentry/react
  src/store/configureStore.js
  src/store/middlewares/logger.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix

MUI upgrade
  package-lock.json
  package.json
  src/components/AugmentedThemeProvider/index.jsx
  src/components/PlayerDialog/index.jsx
  src/components/ScreenModal/index.jsx
  src/components/SystemPaletteModeProvider/index.jsx
  src/components/UndoSnackbar/index.jsx
  src/components/theme/Dialog/index.jsx
  src/cordova.jsx
  src/ducks/theme/index.js
  src/routes/Combat/HelperButton/index.jsx
  src/routes/Home/index.jsx
  src/store/migrations/index.js
  src/store/migrations/themeMode/index.js
  src/store/migrations/themeMode/index.spec.js
  src/store/migrations/themeMode/state.json
  src/styles/baseTheme.js
  src/web.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Use system font by default
  src/styles/baseTheme.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Hide menu on dialog show
  src/components/menu/List/LevelLimitItem/index.jsx
  src/components/menu/List/ThemeItem/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Fix incorrect framer-motion tap detection
  src/components/Counter/Button/index.jsx
  src/routes/Home/PlayerList/Item/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Cordova version upgrade
  cordova/config.xml
Due: none

12.2.4
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Fix color picker display
  src/components/PlayerDialog/ColorPicker/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

12.2.5
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Packages upgrade
  cordova/package-lock.json
  cordova/package.json
  package-lock.json
  package.json
  src/routes/Combat/HelperButton/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Stricter jest lint rules
  .eslintrc
  src/ducks/combat/index.spec.js
  src/ducks/monsters/index.spec.js
  src/ducks/playerList/index.spec.js
  src/ducks/players/index.spec.js
  src/store/migrations/combat/index.spec.js
  src/store/migrations/pureBlack/index.spec.js
  src/store/migrations/settings/index.spec.js
  src/store/migrations/themeMode/index.spec.js
  src/store/migrations/ui/index.spec.js
  src/utils/createMonster.spec.js
  src/utils/createPlayer.spec.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Extract playerList action types
  src/ducks/playerList/actionTypes.js
  src/ducks/playerList/index.js
  src/ducks/playerList/index.spec.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Fix fade -> alpha warning
  src/styles/baseTheme.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix
