Repository izorg/munchkin-material: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.json,.jsx,.mjs --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,json,jsx,mjs}": [
    "eslint --ext .js,.json,.jsx,.mjs --fix",
    "git add"
  ],
  "**/*.{html,md,yml}": [
    "prettier --write",
    "git add"
  ]
}

Packages upgrade
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Cordova version upgrade
  cordova/config.xml
Due: none

12.5.4
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Fix screenshot gen
  scripts/screenshots.mjs
  src/dev/index.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Packages upgrade
  cordova/package-lock.json
  cordova/package.json
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Fix RTL
  src/components/AugmentedStylesProvider/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Packages upgrade
  .nvmrc
  cordova/package-lock.json
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Ignore keystore.jks
  cordova/.gitignore
Due: none

Remove android-targetSdkVersion
  cordova/config.xml
Due: none

Add supported languages to windows manifest
  cordova/config.xml
Due: none

12.5.5
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Add few app name locales
  cordova/config.xml
  cordova/res/windows/strings/en/resources.resjson
  cordova/res/windows/strings/ru/resources.resjson
  cordova/res/windows/strings/uk/resources.resjson
Due: none

12.5.6
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Add supported locales back
  cordova/config.xml
Due: none

Add more windows locale & unify app name
  cordova/res/windows/strings/cs/resources.resjson
  cordova/res/windows/strings/da/resources.resjson
  cordova/res/windows/strings/de/resources.resjson
  cordova/res/windows/strings/el/resources.resjson
  cordova/res/windows/strings/es/resources.resjson
  cordova/res/windows/strings/fi/resources.resjson
  cordova/res/windows/strings/fr/resources.resjson
  cordova/res/windows/strings/he/resources.resjson
  cordova/res/windows/strings/hu/resources.resjson
  cordova/res/windows/strings/hy/resources.resjson
  cordova/res/windows/strings/it/resources.resjson
  cordova/res/windows/strings/nb/resources.resjson
  cordova/res/windows/strings/nl/resources.resjson
  cordova/res/windows/strings/pl/resources.resjson
  cordova/res/windows/strings/pt-BR/resources.resjson
  cordova/res/windows/strings/pt/resources.resjson
  cordova/res/windows/strings/sk/resources.resjson
  cordova/res/windows/strings/tr/resources.resjson
  cordova/translations/app/cs.json
  cordova/translations/app/da.json
  cordova/translations/app/de.json
  cordova/translations/app/el.json
  cordova/translations/app/en.json
  cordova/translations/app/es.json
  cordova/translations/app/fi.json
  cordova/translations/app/fr.json
  cordova/translations/app/he.json
  cordova/translations/app/hu.json
  cordova/translations/app/it.json
  cordova/translations/app/nb.json
  cordova/translations/app/nl.json
  cordova/translations/app/pl.json
  cordova/translations/app/pt-BR.json
  cordova/translations/app/pt.json
  cordova/translations/app/ru.json
  cordova/translations/app/sk.json
  cordova/translations/app/tr.json
  cordova/translations/app/uk.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

12.5.7
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Remove unneeded task
  cordova/package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

emotion RTL support
  babel.config.js
  package-lock.json
  package.json
  src/components/AugmentedStylesProvider/index.jsx
  src/components/Counter/Label/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Use stylelint
  .stylelintignore
  .stylelintrc
  package-lock.json
  package.json
  src/components/PlayerAvatar/index.jsx
  src/global.css
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Add prefixer for emotion
  package.json
  src/components/AugmentedStylesProvider/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Packages upgrade
  babel.config.js
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Add sortablejs scaffolding
  package-lock.json
  package.json
  src/ducks/playerList/actionTypes.js
  src/ducks/playerList/index.js
  src/routes/Home/PlayerList/Item/index.jsx
  src/routes/Home/PlayerList/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Packages upgrade
  .lintstagedrc
  cordova/package-lock.json
  cordova/package.json
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Thinner app bar on sm
  src/components/TopAppBar/index.jsx
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Fix pt-BR detect
  src/i18n.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Update Ukrainian locale
  languages/uk.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Husky 4 -> 5 upgrade
  .husky/.gitignore
  .husky/post-commit
  .husky/pre-commit
  .husky/pre-push
  .huskyrc
  .lintstagedrc
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Packages upgrade
  .eslintrc
  .husky/.gitignore
  .lintstagedrc
  package-lock.json
  package.json
  src/theme/getThemeOptions.js
  webpack.config.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Add player delete button for dialog
  src/components/PlayerDialog/AppBar/index.jsx
  src/components/PlayerDialog/index.jsx
  src/routes/Home/AppBar/index.jsx
  src/utils/useDeletePlayers.js
Due: eslint --ext .js,.json,.jsx,.mjs --fix

package-lock.json update
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

12.6.0
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx,.mjs --fix

Remove cordova build from travis
  .travis.yml
Due: prettier --write
